
<div class="container top-margin aligned">
  <div class="col-md-12 text-center">
    <a class="btn-primary btn" href="https://github.com/dishantkapadiya2694/webdev-project-Dishant-Vinayak">Project Github</a>
    <a class="btn-success btn" href="https://webdev-project-dishant-vinayak.herokuapp.com">Project Link</a>
    <a class="btn-info btn" [routerLink]="['/home']">Project Home Page</a>
  </div>
</div>

<div class="container top-margin aligned">
  <div class = "col-md-6 aligned">
    <div class="container">
      <img src = "../../../assets/Dishant.jpeg" class="margined" width = "300" height="300">
    </div>
    <div class="top-buffer">
      <a class="btn btn-primary" href="https://github.com/dishantkapadiya2694/webdev-Kapadiya-Dishant/releases">
        Link to Github Assignments
      </a>
      <a class="btn btn-success" href="https://webdev-kapadiya-dishant.herokuapp.com/login">Link to Heroku Assignments
      </a>
    </div>
  </div>

  <div class = "col-md-6 aligned">
    <div class="container">
      <img src = "../../../assets/Vinayak.JPG" class="margined" width = "300" height="300">
    </div>
    <div class="top-buffer">
      <a class="btn btn-primary text-center" href="https://github.com/vinayakshamnani/webdev-shamnani-vinayak/releases">
        Link to Github Assignments
      </a>
      <a class="btn btn-success text-center" href="https://webdev-shamnani-vinayak.herokuapp.com/">Link to Heroku Assignments</a>
    </div>
  </div>
</div>
