<div class="container-fluid custom-center-container">

    <nav class="navbar navbar-fixed-top navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand pull-left" [routerLink]="['/home']">
                <span
                        class="glyphicon glyphicon-home pull-left glyph-color">

                </span>
            </a>
            <a class="navbar-brand pull-right" (click)="logout()" [routerLink]="['/home']">
                <span
                        class="glyphicon glyphicon-log-out pull-right glyph-color" (click)="logout()"> Logout</span>

            </a>
        </div>
    </nav>
</div>

<h2 class="top-margin">
  Welcome to Admin Page. Use your powers wisely.
</h2>


    <div class="col-md-6">
    <h1>Manage Users</h1>

    <ul class="list-group">
        <li class="list-group-item list-header">
            <div class="row">
                <div class="col-xs-4">
                    <label for="email">Email</label>
                </div>
                <div class="col-xs-2">
                    <label for="firstname">First Name</label>
                </div>
                <div class="col-xs-2">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="col-xs-2">
                    <label for="role">Role</label>
                </div>
                <div class="col-xs-1">

                </div>
                <div class="col-xs-1">

                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <input  [(ngModel)]="email"
                           id="email"
                           class="form-control" />
                </div>
                <div class="col-xs-2">
                    <input  [(ngModel)]="firstName"
                           id="firstname"
                           class="form-control" />
                </div>
                <div class="col-xs-2">
                    <input  [(ngModel)]="lastName"
                            id="lastName"
                            class="form-control" />
                </div>
                <div class="col-xs-2">
                    <input  [(ngModel)]="role"
                           id="role"
                           class="form-control" />
                </div>
                <div class="col-xs-1">
                    <span (click)="createUser()"
                          class="glyphicon glyphicon-plus pull-right"></span>
                </div>
                <div class="col-xs-1">
                    <a [routerLink]="['/admin']">
                    <span (click)="updateUser()"
                          class="glyphicon glyphicon-ok pull-right"></span></a>
                </div>
            </div>
        </li>
        <li *ngFor="let user of users"  class="list-group-item">
            <div class="row">
                <div class="col-xs-4">
                    {{user.email}}
                </div>
                <div class="col-xs-2">
                    {{user.firstName}}
                </div>
                <div class="col-xs-2">
                    {{user.lastName}}
                </div>
                <div class="col-xs-2">
                    {{user.role}}
                </div>
                <div class="col-xs-1">
                    <span (click)="selectUser(user._id)"
                          class="glyphicon glyphicon-pencil pull-right"></span>
                </div>
                <div class="col-xs-1">
                    <span (click)="deleteUser(user._id)"
                          class="glyphicon glyphicon-remove red-color pull-right"></span>
                </div>
            </div>

        </li>
    </ul>
    </div>


    <div class="col-md-6">
        <h1>Manage Reviews</h1>

        <ul class="list-group">
            <li class="list-group-item list-header">
                <div class="row">
                    <div class="col-xs-6">
                        <label for="email">Owner Id</label>
                    </div>
                    <div class="col-xs-4">
                        <label for="firstname">Review</label>
                    </div>
                    <div class="col-xs-2">

                    </div>
                </div>
            <li *ngFor="let review of allReviews"  class="list-group-item">
                <div class="row">
                    <div class="col-xs-6">
                        <a [routerLink]="['/userprofile',review.ownerId]">{{review.ownerId}}</a>
                    </div>
                    <div class="col-xs-4">
                        {{review.review}}
                    </div>
                    <div class="col-xs-2">
                    <span (click)="deleteReview(review._id)"
                          class="glyphicon glyphicon-remove red-color pull-right"></span>
                    </div>
                </div>

            </li>
        </ul>
    </div>