<div class="container-fluid custom-center-container">

    <nav class="navbar navbar-fixed-top navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand pull-left" [routerLink]="['/home']">
                <span
                    class="glyphicon glyphicon-home pull-left glyph-color">
                </span>
            </a>
            <a class="navbar-brand pull-right" *ngIf="!loggedIn" [routerLink]="['/register']">
                <span
                        class="glyphicon glyphicon-user pull-right glyph-color"> Register</span>

            </a>
            <a class="navbar-brand pull-right" *ngIf="!loggedIn" [routerLink]="['/login']">
                <span
                    class="glyphicon glyphicon-log-in pull-right glyph-color"> Login</span>

            </a>
            <a class="navbar-brand pull-right" *ngIf="loggedIn" [routerLink]="['/userprofile', currentUser['_id']]">
                <span
                        class="glyphicon glyphicon-user pull-right glyph-color"> Profile</span>

            </a>
            <a class="navbar-brand pull-right" *ngIf="loggedIn" (click)="logout()" [routerLink]="['/home']">
                <span
                        class="glyphicon glyphicon-log-out pull-right glyph-color" (click)="logout()"> Logout</span>

            </a>
        </div>
    </nav>
</div>

<div class = "top-margin">
    <div class="page-header ">
        <h3> Welcome <span *ngIf="!loggedIn"> Guest </span> <span *ngIf="loggedIn">{{email}}</span></h3>
    </div>
</div>

<div class="input-group input-group-lg">
    <input type="text" [(ngModel)]="title" class="form-control" placeholder="Search movies by title">
    <span class="input-group-btn">
                <button class="btn btn-warning" type="submit" (click)="searchMovies()"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
            </span>
</div>

<div *ngIf="searched">
    <h5>Found the following results for <i>{{title}}</i></h5>
    <ul class="list-group">
        <li *ngFor="let movie of movies" class="list-group-item ">

            <div class="media-left media-middle">
                <a href="https://www.themoviedb.org/movie/{{movie.id}}" target="_blank">
                    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" width="50px" alt="View on TMdB"/>
                </a>
            </div>
            <div class="media-body">
                <span class="pull-right"> {{movie.vote_average}}/10</span>
                <a (click)="createMovie(movie.id, movie.title)"><h2 class="media-heading">{{movie.title}} ({{movie.release_date | date: "yyyy"}})</h2></a>
                {{movie.overview}}



            </div>

        </li>
    </ul>
</div>
    <div class="container"></div>
    <div role="tabpanel" class="tab-pane active col-md-4" id="popular">
        <div class="page-header"><h3>Most Popular</h3></div>

        <ul class="list-group">
            <li *ngFor="let movie of movies2" class="list-group-item ">

                <div class="media-left media-middle">
                    <a href="https://www.themoviedb.org/movie/{{movie.id}}" target="_blank">
                        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" width="50px" alt="View on TMdB"/>
                    </a>
                </div>
                <div class="media-body">
                    <span class="pull-right"> {{movie.vote_average}}/10</span>
                    <a (click)="createMovie(movie.id, movie.title)"><h2 class="media-heading">{{movie.title}} ({{movie.release_date | date: "yyyy"}})</h2></a>
                    {{movie.overview}}



                </div>

            </li>
        </ul>
    </div>

    <div role="tabpanel" class="tab-pane active col-md-4" id="latest">
        <div class="page-header"><h3>Latest and upcoming</h3></div>

        <ul class="list-group">
            <li *ngFor="let movie of movies3" class="list-group-item ">

                <div class="media-left media-middle">
                    <a href="https://www.themoviedb.org/movie/{{movie.id}}" target="_blank">
                        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" width="50px" alt="View on TMdB"/>
                    </a>
                </div>
                <div class="media-body">
                    <span class="pull-right"> {{movie.vote_average}}/10</span>
                    <a (click)="createMovie(movie.id, movie.title)"><h2 class="media-heading">{{movie.title}} ({{movie.release_date | date: "yyyy"}})</h2></a>
                    {{movie.overview}}



                </div>

            </li>
        </ul>
    </div>

    <div role="tabpanel" class="tab-pane active col-md-4" id="grossing">
        <div class="page-header"><h3>Highest Grossing</h3></div>

        <ul class="list-group">
            <li *ngFor="let movie of movies1" class="list-group-item ">

                <div class="media-left media-middle">
                    <a href="https://www.themoviedb.org/movie/{{movie.id}}" target="_blank">
                        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" width="50px" alt="View on TMdB"/>
                    </a>
                </div>
                <div class="media-body">
                    <span class="pull-right"> {{movie.vote_average}}/10</span>
                    <a (click)="createMovie(movie.id, movie.title)"><h2 class="media-heading">{{movie.title}} ({{movie.release_date | date: "yyyy"}})</h2></a>
                    {{movie.overview}}
                </div>

            </li>
        </ul>
    </div>


