<div class="container-fluid custom-center-container">

    <nav class="navbar navbar-fixed-top navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand pull-left" [routerLink]="['/home']">
                <span
                        class="glyphicon glyphicon-home pull-left glyph-color">

                </span>
            </a>
            <a class="navbar-brand pull-right" *ngIf="!loggedIn" [routerLink]="['/register']">
                <span
                        class="glyphicon glyphicon-user pull-right glyph-color"> Register</span>

            </a>
            <a class="navbar-brand pull-right" *ngIf="!loggedIn" [routerLink]="['/login']">
                <span
                        class="glyphicon glyphicon-log-in pull-right glyph-color"> Login</span>

            </a>
            <a class="navbar-brand pull-right" *ngIf="loggedIn" [routerLink]="['/profile']">
                <span
                        class="glyphicon glyphicon-user pull-right glyph-color"> Profile</span>

            </a>
            <a class="navbar-brand pull-right" *ngIf="loggedIn" (click)="logout()" [routerLink]="['/home']">
                <span
                        class="glyphicon glyphicon-log-out pull-right glyph-color" (click)="logout()"> Logout</span>

            </a>
        </div>
    </nav>
</div>

<div class="container top-margin">
    <div class="jumbotron row">
        <div class="col-sm-4" *ngIf="movieByTMDBId['poster_path']">
            <img src="https://image.tmdb.org/t/p/w300/{{movieByTMDBId['poster_path']}}">
        </div>
        <div class="col-sm-8">
            <h1>{{movieByTMDBId['title']}}</h1>
            <p>{{movieByTMDBId['overview']}}</p>
            <p>
                <a *ngIf="movieByTMDBId['homepage']"
                   href="{{movieByTMDBId['homepage']}}"
                   class="btn btn-default btn-lg"
                   target="_blank">
                    <i class="fa fa-external-link" aria-hidden="true"></i> Visit Website
                </a>
            </p>
        </div>
    </div>


    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Details</div>
                <table class="table table-bordered table-responsive table-striped">
                        <tr>
                            <td><i class="fa fa-clock-o" aria-hidden="true"></i> Runtime</td>
                            <td>{{movieByTMDBId['runtime']}} minutes</td>
                        </tr>
                        <tr ng-if="model.movie.status == 'Released'">
                            <td><i class="fa fa-calendar" aria-hidden="true"></i> Release Date</td>
                            <td><span>{{movieByTMDBId['release_date']}}</span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-credit-card" aria-hidden="true"></i> Budget</td>
                            <td>{{movieByTMDBId['budget'] | currency: "USD":'symbol-narrow':'4.2-2'}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-money" aria-hidden="true"></i> Revenue</td>
                            <td>{{movieByTMDBId['revenue'] | currency: "USD":'symbol-narrow':'4.2-2'}}</td>
                        </tr>
                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Genres</div>

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let genre of movieByTMDBId['genres']"> {{genre['name']}}
                    </li>
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Production Companies</div>

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let co of movieByTMDBId['production_companies']">
                        {{co['name']}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading">Artists</div>
                <div class="panel-body row">
                    <div class="col-sm-3" *ngFor="let cast of movieByTMDBId['credits']['cast']; let i=index">
                        <div *ngIf="i<4">
                                <img src="https://image.tmdb.org/t/p/w92{{cast['profile_path']}}"
                                     alt="{{cast['name']}}">
                            <div class="caption">
                                <h5 class="artist-name">{{cast['name']}}</h5>
                                <p>as {{cast['character']}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel panel-default">

                <div class="panel-heading">Reviews</div>
                <form>
                <div *ngIf="currentUser['role'] === 'Critic' && canReview" class="panel-body form">
                    <textarea class="form-control" rows="3" ngModel [(ngModel)]='newreview' name="newReview"></textarea>
                    <a (click)="createReview()" class="btn btn-success top-buffer pull-right">Post Review</a>
                </div>
                </form>
                <div *ngFor="let review of reviewsForMovie">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <a [routerLink]="['/userprofile/', review['ownerId']]">{{review['username']}}</a>
                            <a *ngIf="currentUser['_id'] == review['ownerId']" (click)="deleteReview(review['_id'])">
                                <span class="glyphicon glyphicon-remove red-color pull-right"></span>
                            </a>
                        </h4>

                        <p class="list-group-item-text">
                            {{review['review']}}
                        </p>
                    </div>
                </div>
                    <p *ngIf="reviewsForMovie.length ==0">Uh oh. No reviews yet.</p>
            </div>
        </div>
    </div>
</div>