
a:hover
{
  text-decoration-line: none;
}
.bottom-buffer
{
  margin-bottom: 10px;
}

.navbar-custom
{
  background-color: gray;
  color: whitesmoke;
}

.glyph-color
{
  color: whitesmoke;
}
.colored-link
{
  color: gray;
}

.right-border {
  border-right: 1px solid gray;
  height: 1500px;
}

.full-height
{
  height: 100%;
}

.overflow
{
  max-height: 100%;
  overflow-y: scroll;
}











@media (max-width: 767px) {
  .list-group, .list-group-item, a.list-group-item {
    border: none;
    margin-bottom: 0px;
  }
}


.custom-center-container {
  max-height: 100%;
  overflow-y: scroll;
}

/*
.custom-list-group-noborder {
  border: none;
  margin-bottom: 0px;
}
*/

.custom-widget-toolbar {
  color: #ffff;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 4px;
  padding: 5px;
}

.custom-widget {
  margin: 5px;

}

.custom-widget-toolbar img  iframe
{
  right: 10px;
}

.custom-widget .col-xs-12 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  /*margin: 5px;*/
}

.custom-widget h1, h3 {
  margin: 0px;
}

.custom-widget img {
  width: 100%;
}

#reorder-alert {
  text-align: center;
}

.custom-responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  overflow: hidden;
}

.custom-responsive-video iframe,
.custom-responsive-video object,
.custom-responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom-widget-toolbar-ontop {
  z-index: 1;
}




.custom-navbar-reducedSize
{
  font-size: 14px;
}

ul
{
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.top-margin
{
  margin-top: 70px;
}

.bottom-margin
{
  margin-bottom: 70px;
}

.no-color
{
  color: black;
  font-weight: normal;
}

.left-margin
{
  margin-left: 10px;
}

.top-buffer
{
  margin-top: 10px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

h3 {
    color: #404040;
}
h2 {
    color: #404040;
}

.list-header {
  background: orange !important;
}

.red-color {
  color: red;
}

body {
    background-image: url("gray-background.jpg");
}

.center-image {
  display: block;
  margin: 0 auto;
}

.margined {
  margin-left: 1cm;
}

.aligned {
  alignment: center;
}